attrs==22.1.0
cfgv==3.3.1
distlib==0.3.6
exceptiongroup==1.0.3
filelock==3.8.0
ftfy==6.1.1
identify==2.5.8
iniconfig==1.1.1
nodeenv==1.7.0
numpy==1.23.4
opencv-python==4.6.0.66
packaging==21.3
pandas==1.5.1
platformdirs==2.5.4
pluggy==1.0.0
pre-commit==2.20.0
PyMuPDF==1.21.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
virtualenv==20.16.7
wcwidth==0.2.6
